/*================ Module-specific styles ================*/
.sidebar-module {
  margin-bottom: $gutter;

  img {
    display: block;
    max-width: 100%;
  }
}

.sidebar-module__list {
  margin-bottom: 0;

  a {
    color: $colorTextBody;

    &:active,
    &:focus,
    &:hover,
    &.is-active,
    &.is-open {
      color: $colorLink;
    }
  }
}

.sidebar-module__hidden-item {
  display: none;
}

.sidebar-module__collapse {
  display: none;
}

.sidebar-module__list--expand {
  .sidebar-module__hidden-item {
    display: block;
  }

  + .sidebar-module__viewmore .sidebar-module__expand {
    display: none;
  }

  + .sidebar-module__viewmore .sidebar-module__collapse {
    display: inline-block;
  }
}

.sidebar-sublist__trigger-wrap {
  position: relative;
  padding-right: 20px;
}

.sidebar-sublist a {
  display: block;
}

.sidebar-sublist__expand,
.sidebar-sublist__contract {
  background: none;
  border: 0 none;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  color: $colorPrimary;
  font-size: 0.5em;
  vertical-align: middle;
  text-align: center;
}

.sidebar-sublist__contract {
  display: none;
}

.sidebar-sublist.is-open {
  .sidebar-sublist__contract {
    display: block;
  }

  .sidebar-sublist__expand {
    display: none;
  }
}

.sidebar-sublist__content {
  display: none;
  margin: 10px 0 10px 10px;
  padding-left: 10px;
  border-left: 3px solid $colorBorder;
  font-size: em(14px);

  .sidebar-sublist.is-open & {
    display: block;
  }
}

.sidebar-module__article {
  line-height: 1.4;
  margin-bottom: 10px;

  & + & {
    border-top: 1px solid $colorBorder;
    padding-top: 10px;
  }
}

.header-bar {
  @include clearfix();
  font-size: em(14px);
  background-color: $colorTopBar;
  color: $colorTopBarText;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;

  @include at-query($min, $large) {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  a,
  button {
    color: $colorTopBarText;

    &:hover,
    &:active,
    &:focus {
      outline-color: $colorTopBarText;
    }
  }
}

@include at-query($min, $large) {
  .header-bar__left {
    text-align: left;
    width: 33.33%;
  }

  .header-bar__right {
    width: 66.66%;
  }
}

.header-bar__module {
  margin-bottom: $gutter/2;

  .header-bar__right &:last-child {
    margin-bottom: 0;
  }

  @include at-query($min, $large) {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
  }
}

.header-bar__module--list {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0;

    & + li {
      margin-left: 6px;
    }
  }
}

.cart-toggle {
  display: inline-block;
}

.header-bar__cart-icon {
  font-size: 1.2em;
  margin-right: 4px;
}

.header-bar__cart-count {
  display: inline-block;
  border-radius: $radius;
  background-color: $colorTopBarText;
  color: $colorPrimary;
  line-height: 1;
  font-size: 1.1em;
  padding: 5px 10px;
  margin-left: 4px;
}

.hidden-count {
  display: none;
}

.header-bar__sep {
  display: none;

  @include at-query($min, $large) {
    color: $colorTopBarText;
    opacity: 0.4;
    display: inline-block;
    padding: 0 10px;
  }
}

.header-bar__search {
  @include clearfix();
  position: relative;
  background-color: #fff;
  border: 0 none;
  border-radius: $radius;
  min-width: 100px;

  @include at-query($min, $large) {
    max-width: 160px;
    margin-left: 20px;
  }

  form,
  input,
  button {
    margin-bottom: 0;
  }
}

.header-bar__search-input[type="search"] {
  display: block;
  width: 60%;
  float: right;
  background: transparent;
  border-color: transparent;
  padding: 5px 0;

  &:focus {
    background: transparent;
    border-color: transparent;
  }
}

.header-bar__search-submit {
  display: block;
  float: left;
  width: 40%;
  font-size: 16px;
  padding: 4px 0;
}

.supports-fontface {
  .header-bar__search-submit {
    width: 20%;
  }

  .header-bar__search-input[type="search"] {
    width: 80%;
  }

  @include at-query($max, $medium) {
    .header-bar__search-submit {
      width: 10%;
      float: left;
    }

    .header-bar__search-input[type="search"] {
      width: 90%;
      float: right;
    }
  }
}


.header-bar__search {
  .btn,
  .btn:hover,
  .btn:focus {
    background: transparent;
    color: $colorPrimary;
  }
}