/*================ Module-specific styles ================*/
.sidebar-module {
  margin-bottom: $gutter;

  img {
    display: block;
    max-width: 100%;
  }
}

.sidebar-module__list {
  margin-bottom: 0;

  a {
    color: $colorTextBody;

    &:active,
    &:focus,
    &:hover,
    &.is-active,
    &.is-open {
      color: $colorLink;
    }
  }
}

.sidebar-module__hidden-item {
  display: none;
}

.sidebar-module__collapse {
  display: none;
}

.sidebar-module__list--expand {
  .sidebar-module__hidden-item {
    display: block;
  }

  + .sidebar-module__viewmore .sidebar-module__expand {
    display: none;
  }

  + .sidebar-module__viewmore .sidebar-module__collapse {
    display: inline-block;
  }
}

.sidebar-sublist__trigger-wrap {
  position: relative;
  padding-right: 20px;
}

.sidebar-sublist a {
  display: block;
}

.sidebar-sublist__expand,
.sidebar-sublist__contract {
  background: none;
  border: 0 none;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  color: $colorPrimary;
  font-size: 0.5em;
  vertical-align: middle;
  text-align: center;
}

.sidebar-sublist__contract {
  display: none;
}

.sidebar-sublist.is-open {
  .sidebar-sublist__contract {
    display: block;
  }

  .sidebar-sublist__expand {
    display: none;
  }
}

.sidebar-sublist__content {
  display: none;
  margin: 10px 0 10px 10px;
  padding-left: 10px;
  border-left: 3px solid $colorBorder;
  font-size: em(14px);

  .sidebar-sublist.is-open & {
    display: block;
  }
}

.sidebar-module__article {
  line-height: 1.4;
  margin-bottom: 10px;

  & + & {
    border-top: 1px solid $colorBorder;
    padding-top: 10px;
  }
}