/*================ Templates | Product Page ================*/
.product-single__variants {
  display: none;

  .no-js & {
    display: block;
  }
}

.product-single__photos {
  margin-bottom: $gutter / 2;
}

.product-single__photos,
.product-single__thumbnails {
  a, img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.product-single__hero {
  .grid__item {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }

  @include at-query ($min, $large) {
    .grid__item + .grid__item {
      margin-left: -5px;
    }
  }
}

.product-single__thumbnails {
  margin-left: -$gutter / 2;
  margin-bottom: -$gutter / 2;

  .grid__item {
    padding-left: $gutter / 2;
  }

  li {
    margin-bottom: $gutter / 2;
  }
}

.product-single__prices {
  margin-bottom: $gutter / 2;
}

.product-single__price {
  color: $colorPrimary;
  font-size: em(30px);
  font-weight: $headerFontWeight;
}

.product-single__sale-price {
  opacity: 0.7;
  margin-left: 6px;
  font-size: em(24px);
  font-weight: $headerFontWeight;
}

.product-single__quantity {
  margin-bottom: $gutter / 2;

  &.is-hidden {
    display: none;
  }

  .quantity-selector,
  .js-qty {
    display: inline-block;
  }

  .js-qty {
    margin-left: $gutter / 2;
  }
}

.js-qty__adjust,
.ajaxcart__qty-adjust {
  @extend .btn--tertiary;
  top: 2px;
  bottom: 2px;
  padding: 4px 8px;
}

/*================ Review tab switcher ================*/
.tab-switch__nav {
  padding: 0;
  list-style: none;
}

.tab-switch__trigger {
  display: block;
  color: $colorTextBody;
  font-weight: normal;
  margin-right: $gutter / 2;

  &:hover,
  &:active {
    font-weight: normal;
  }

  &.is-active {
    font-weight: bold;
    color: $colorTextBody;
  }
}

.tab-switch__content {
  display: block;

  &.is-hidden {
    display: none;
  }
}