/*============================================================================
  Ajaxify Cart - General
==============================================================================*/
.ajaxcart__content {
  position: relative;
  background-color: $colorBody;
  @include perspective(1000px);
  @include transform-style(preserve-3d);
  @include transition(all 450ms cubic-bezier(0.57,.06,.05,.95));
  padding-top: $gutter;
  padding-bottom: $gutter;
  overflow: hidden;

  .is-visible & {
    @include transition(all 550ms cubic-bezier(0.57, 0.06, 0.05, 0.95));
  }

  form {
    margin-bottom: 0;
  }

  @include at-query ($max, $medium) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cart__header-labels {
    display: none;

    & + .cart__row {
      margin-top: 0;
      border-top: 0 none;
    }
  }
}

// Row and column spacing
.ajaxcart__inner {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.ajaxcart__product {
  position: relative;
  padding: 10px 0;

  &:first-child {
    padding-top: 0;
  }
}

.ajaxcart__product,
.cart__row {
  max-height: 500px;
  visibility: visible;

  &.is-removed {
    overflow: hidden;
    opacity: 0;
    padding: 0;
    margin: -1px 0 0 0;
    visibility: hidden;
    @include transform('rotateX(-92deg)');
    @include transform-origin(top);
    @include backface(hidden);
    @include transition(all 450ms cubic-bezier(0.57,.06,.05,.95));
    max-height: 0;
  }
}

.ajaxcart__row {
  clear: both;
  @include clearfix;
}

.ajaxcart__product-image {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}